.container{
    font-family: "Barlow", sans-serif;
    position: absolute;
    width: 100%;
    top: -30px;
    z-index: -1;

}
.homy{
    position: absolute;
    left: 50px;
    right: 50px;
    box-sizing: border-box;

}
