.container{
    flex-direction: column;
    display: flex;
    position: relative;

}
.line{
   position: absolute;
    width: 45%;

   top: 12px;
   
}
.hrdiv{
    max-width: 50vh;
    margin-left: 12%;

}
.ulmarg{
    margin-right: -12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 992px) {
    .hrdiv {
      visibility: hidden;
    }
  }
  