.container{
    flex-direction: column;
    display: flex;
    position: relative;
    margin-top: 30px;

}
.line{
   position: absolute;
   width: 45%;
   top: 12px;
   
}
.hrdiv{
    max-width: 50vh;
    margin-left: 12%;

}
.ulmarg{
    margin-right: -12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px black;
    box-shadow: 0px 6px 20px rgba(1, 0.8, 0.8, 0.9);
}

@media screen and (max-width: 990px) {
    .hrdiv {
      visibility: hidden;
    }
  }
  